* {
	margin: 0; 
	padding: 0;
}

::selection {
	background-color: #1da3e1;
	color: #fff;
}

body {
	background: url('images/bg_body.gif') left top;
}


.banner, 
.header, 
.body, 
.footer {
	width: 100%; 
}

.banner, 
.body, 
.footer {
	position: relative;
}

.banner {
	height: 170px;
	position: relative;
	z-index: 10; 
	background: url('images/header.gif') right top no-repeat;
}

.sub_banner {
	height: 170px;
	background: url('images/bg_title.gif') 170px 40px no-repeat;
}

.header {
	position: absolute;
	height: 42px;
	top : 0;
	z-index: 20; 
	background-color: #FF6599;
	opacity: 0.5;
	line-height: 42px;
	font-family: "microsoft yahei", Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #fff; 
}

.footer {
	height: 40px;
	background: url('images/bg_left.gif') top left repeat-x; 
}


.container {
	width: 1129px;
	margin: 0 auto; 
	overflow: auto;
	position: relative;
}

.list {
	width: 864px;
	float : left;
}

.side {
	width: 250px;
	float: right; 
	height: 300px; 
	position: relative;
	top: 64px;
}


.iconfont a {
	float: left; 
	font-size: 20px;
}

.header .nav {
	float: right;
	right: 130px;
	position: absolute;
}

a:hover {
	transition: all 0.6s ease; 
	-webkit-animation: all 0.6s ease;
}

a {
	color: #fff;
	outline: none; 
	text-decoration: none;
}

.nav li {
	float : left;
	list-style-type : none;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	top : 5px;
	font-size: 14px;
	position: relative;
	cursor: pointer;
}


.nav li.current_page_item { 
	border-radius: 18px;
	background-color: #ED3577;
	color: #fff;
}

.list {
	background: #FEFEF2 url('images/bg_left.gif') top left repeat-x; 
}

.list-navigator {
	width: 95%;
	height: 40px;
	background: url('images/line.gif') left bottom repeat-x; 
	margin:auto;
	margin-bottom: 20px;
	position: relative;
	top : 19px;
}


.article-item {
	position: relative;
	height: 202px;
	border: 1px #e0e0e0; 
	background-color: #FFECEC; 
	width: 90%; 
	margin: 0 auto; 
	margin-top : 25px;
	margin-bottom: 25px;
	padding: 20px;
}

.article-item h2 {
	line-height: 24px;
	height: 24px;
	display: block;
	font-size: 18px;
}

.article-item .label {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	position: relative;
	color: #fff;
	margin-right: 10px;
	font-family: simsun;
	border-radius: 4px;
	background-color: #e95454;
	border-radius: 4px;
	font-size: 12px;
	padding: 0 5px;
	top: -2px;
}

.article-item .title {
	color : #0A0303;
}

.article-item .label-arrow {
	top: 7px;
	right: -5px;
	border-left: 5px solid #e95454; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	position: absolute;
	width: 0; 
	height: 0;
}

.intro_img {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -75px;
}

.article-item .intro {
	color : #858585;
	font-size: 13px;
	min-height: 170px;
	position: relative;
	padding : 10px 0 0 220px;
	line-height: 24px;
}


.side .block {
	overflow: hidden;
	margin-bottom: 20px;
}

.block .title {
	height: 27px;
	font-size: 16px;
	color: #e95454;
	text-align: center;
	line-height: 27px;
	border: 1px solid #e0e0e0;
	background-color: #f9f9f9;
	padding: 6px 50px 6px 0;
	position: relative;
}

.block .title label {
	display: block;
	width: 49px;
	border-left: 1px solid #e6e6e6;
	cursor: pointer;
	text-align: center;
	position: absolute;
	right: 0;
	top: 6px;
	line-height: 24px;
}

.block .title label i {
	border-style: solid dotted dotted dotted;
	border-color: #e95454 transparent transparent transparent;
}

.block .title label b {
	border-style: dotted dotted solid dotted;
	border-color: transparent transparent #e95454 transparent;
}


.block ul {
	background-color: #EEEEEE;
}


.block li {
	vertical-align: top;
	margin-top: -1px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #e0e0e0;
	height: 39px;
	overflow: hidden;
}

.category li a {
	display: block;
	padding-left: 70px;
	color: #924E4E;
	font-size: 14px;
	text-decoration: none;
	line-height: 39px;
}

.block .title label i, .block .title label b {
	width: 0;
	line-height: 0;
	font-size: 0;
	height: 0;
	overflow: hidden;
	border-width: 8px;
}

label b {
	display: none;
}

.tags {
	padding: 5px;
	border: 1px solid #e0e0e0;
	border-top: none;
	background-color: #EEEEEE;
}

.tags a {
	font-size: 12px;
	color: #924E4E;
	background-color: #ededed;
	padding: 2px 8px;
	margin-left: 5px;
	border-radius: 12px;
	text-decoration: none;
	white-space: nowrap;
	margin-bottom: 5px;
	display: inline-block;
}


.kalendae {
	margin : 0;
}

.kalendae .k-calendar {
	width: 229px;
}

.kalendae .k-title, 
.kalendae .k-header, 
.kalendae .k-days {
	width: 229px;
}

.kalendae .k-days span {
	width: 23px;
	text-align: center;
}

.kalendae .k-header span {
	width: 24px;
	padding: 1px 3px;
}















