* {
	margin: 0; 
	padding: 0;
}

::selection {
	background-color: #1da3e1;
	color: #fff;
}

body {
	background: url('images/bg_body.gif') left top;
}


.banner, 
.header, 
.body, 
.footer {
	width: 100%; 
}

.banner, 
.body, 
.footer {
	position: relative;
}

.banner {
	height: 170px;
	position: relative;
	z-index: 10; 
	background: url('images/header.gif') right top no-repeat;
}

.sub_banner {
	height: 170px;
	background: url('images/bg_title.gif') 170px 40px no-repeat;
}

.header {
	position: absolute;
	height: 42px;
	top : 0;
	z-index: 20; 
	background-color: #FF6599;
	opacity: 0.5;
	line-height: 42px;
	font-family: "microsoft yahei", Monaco, Menlo, Consolas, "Courier New", monospace;
	color: #fff; 
}

.footer {
	height: 40px;
	background: url('images/bg_left.gif') top left repeat-x; 
}


.container {
	width: 1129px;
	margin: 0 auto; 
	overflow: auto;
	position: relative;
}

.list {
	width: 864px;
	float : left;
}

.side {
	width: 250px;
	float: right; 
	height: 300px; 
}


.iconfont a {
	float: left; 
	font-size: 20px;
}

.header .nav {
	float: right;
	right: 130px;
	position: absolute;
}

a:hover {
	transition: all 0.6s ease; 
	-webkit-animation: all 0.6s ease;
}

a {
	color: #fff;
	outline: none; 
	text-decoration: none;
}

.nav li {
	float : left;
	list-style-type : none;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	top : 5px;
	font-size: 14px;
	position: relative;
	cursor: pointer;
}


.nav li.current_page_item { 
	border-radius: 18px;
	background-color: #ED3577;
	color: #fff;
}

.list {
	background: #FEFEF2 url('images/bg_left.gif') top left repeat-x; 
}

.list-navigator {
	width: 95%;
	height: 40px;
	background: url('images/line.gif') left bottom repeat-x; 
	margin:auto;
	margin-bottom: 20px;
	position: relative;
	top : 19px;
}


.article-item {
	position: relative;
	height: 202px;
	border: 1px #e0e0e0; 
	background-color: #FFECEC; 
	width: 90%; 
	margin: 0 auto; 
	margin-top : 25px;
	margin-bottom: 25px;
	padding: 20px;
}

.article-item h2 {
	line-height: 24px;
	height: 24px;
	display: block;
	font-size: 18px;
}

.article-item .label {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	position: relative;
	color: #fff;
	margin-right: 10px;
	font-family: simsun;
	border-radius: 4px;
	background-color: #e95454;
	border-radius: 4px;
	font-size: 12px;
	padding: 0 5px;
	top: -2px;
}

.article-item .title {
	color : #0A0303;
}

.article-item .label-arrow {
	top: 7px;
	right: -5px;
	border-left: 5px solid #e95454; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 
	position: absolute;
	width: 0; 
	height: 0;
}

.intro_img {
	width: 200px;
	height: 150px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -75px;
}

.article-item .intro {
	color : #858585;
	font-size: 13px;
	min-height: 170px;
	position: relative;
	padding : 10px 0 0 220px;
	line-height: 24px;
}